/* =============== */
/* 僅作為寬高參考，之後會刪掉 */
/* =============== */

.section-solid {
    width: 100%;
}

/* 上方純色 */
.section-solid--top {
    height: 120px;
    background-color: #C9E9F4;
}

/* ========= 手機版（375 x 498，黃底 + 只有中文標題） ========= */

/* 整個 section */
.scam-section {
    padding: 60px 12px 40px 12px;
    background-color: rgba(254, 198, 49, 0.3);
    /* #FEC631 30% */
}

.scam-section {
    margin: 30 auto;
    padding-top: 10;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    max-width: 100vw;
    margin: 0 auto;
}

.scam-layout {
    position: relative;
}


.section-title--scam {
    margin-bottom: 12px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.section-title-zh {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    margin-left: 0px;
}

/* 手機版隱藏英文標題 */
.section-title-en {
    display: none;
}


/* 鴨子：在白卡左上角，身體下半疊在白卡上 */
.scam-duck {
    position: absolute;
    width: 169px;
    /* height: auto; */
    left: -20px;
    top: 60;
    z-index: 3;
}

/* 黃 panel給桌機用 */
.scam-panel {
    position: relative;
    margin-top: 0px;
    padding: 0;
    background: transparent;
}

/* 白色卡片 */
.scam-card {
    position: relative;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 32px 24px 24px 24px;
    min-height: 352px;
    /* 接近 Figma hug 高度 */
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.06);
    z-index: 2;
}

/* 文字樣式 */
.scam-card__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 12px;
}

.scam-card__text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.scam-card__link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #f9b000;
    text-decoration: none;
}

/* 定位 dots 用 */
.scam-carousel {
    position: relative;
}

/* dots  */
.scam-indicators {
    position: absolute;
    bottom: 30px;
    right: 24px;
    left: auto;
    margin: 0;
    gap: 6px;
    justify-content: flex-end;
}

.scam-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 16px;
    border: none;
    background-color: rgba(249, 176, 0, 0.4);
}

.scam-indicators .active {
    width: 40px;
    background-color: #f9b000;
}

/* 隱藏驚嘆號 */
.scam-exclamation {
    display: none;
}